<div class="contents__block -basic">
  <div class="main">
    <h1 class="main__title -h1">New History</h1>
    <%= render 'form', technology: @technology, history: @history %>
    <%= link_to("Back", @technology) %>
  </div>
</div>
