<div class="contents__block -basic">
  <div class="main">
    <h1 class="main__title -h1">New Technology</h1>
    <%= render 'form', technology: @technology, tags: @tags %>
    <%= link_to '戻る', technologies_path %>
  </div>
</div>
